<p>Hello {{ name }},</p>
<br>
<p>Please find your invoice for <a href="{{ eventUrl }}">{{ eventName }}</a> on {{ eventDate }} attached.</p>
<p>Invoice no: {{ invoiceId }}</p>
<p>Invoice amount: {{ total }} {{ currency }}</p>
<br>
<p>If you have any questions just let us know.</p>
<p>Your DanceWithMe team</p>
